In [59]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import matplotlib as plt
# Import the API key.
from config import g_key

In [60]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Arraial Do Cabo,BR,2022-08-17 15:13:52,-22.9661,-42.0278,300.07,54,0,5.14
1,1,Ushuaia,AR,2022-08-17 15:11:30,-54.8000,-68.3000,275.96,81,75,2.06
2,2,Jamestown,US,2022-08-17 15:10:58,42.0970,-79.2353,294.95,68,40,2.06
3,3,Senanga,ZM,2022-08-17 15:13:53,-16.1167,23.2667,304.93,10,0,2.22
4,4,Bunia,CD,2022-08-17 15:13:54,1.5667,30.2500,292.71,91,100,2.58

In [61]:

city_data_df["Max Temp"]=city_data_df["Max Temp"] - 273.15
city_data_df["Max Temp"]=city_data_df["Max Temp"] * 1.8
city_data_df["Max Temp"]=city_data_df["Max Temp"] + 32
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Arraial Do Cabo,BR,2022-08-17 15:13:52,-22.9661,-42.0278,80.456,54,0,5.14
1,1,Ushuaia,AR,2022-08-17 15:11:30,-54.8000,-68.3000,37.058,81,75,2.06
2,2,Jamestown,US,2022-08-17 15:10:58,42.0970,-79.2353,71.240,68,40,2.06
3,3,Senanga,ZM,2022-08-17 15:13:53,-16.1167,23.2667,89.204,10,0,2.22
4,4,Bunia,CD,2022-08-17 15:13:54,1.5667,30.2500,67.208,91,100,2.58

In [62]:
gmaps.configure(api_key=g_key)
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [63]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [64]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [65]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [66]:
# Heatmap of wind speeds
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [67]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [73]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)
preferred_cities_df.head(10)

C:\Users\DrDan\AppData\Local\Temp\ipykernel_8128\1838914002.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  preferred_cities_df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Arraial Do Cabo,BR,2022-08-17 15:13:52,-22.9661,-42.0278,80.456,54,0,5.14
3,3,Senanga,ZM,2022-08-17 15:13:53,-16.1167,23.2667,89.204,10,0,2.22
6,6,Bay City,US,2022-08-17 15:13:55,43.5945,-83.8889,77.324,68,0,1.54
8,8,Bengkulu,ID,2022-08-17 15:13:57,-3.8004,102.2655,77.432,90,28,3.59
14,14,Mogadishu,SO,2022-08-17 15:14:00,2.0371,45.3438,76.496,84,83,7.28
15,15,Hithadhoo,MV,2022-08-17 15:14:01,-0.6000,73.0833,82.274,75,91,5.80
17,17,Georgetown,MY,2022-08-17 15:11:27,5.4112,100.3354,84.884,81,20,0.00
20,20,Tornio,FI,2022-08-17 15:14:04,65.8481,24.1466,75.218,91,79,6.77
21,21,Parrita,CR,2022-08-17 15:14:04,9.5201,-84.3225,83.318,72,29,1.50
24,24,Bera,BD,2022-08-17 15:14:06,24.0833,89.6167,89.744,62,98,2.08

In [74]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [76]:
hotel_df=preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0   Arraial Do Cabo      BR    80.456 -22.9661  -42.0278
3           Senanga      ZM    89.204 -16.1167   23.2667
6          Bay City      US    77.324  43.5945  -83.8889
8          Bengkulu      ID    77.432  -3.8004  102.2655
14        Mogadishu      SO    76.496   2.0371   45.3438
15        Hithadhoo      MV    82.274  -0.6000   73.0833
17       Georgetown      MY    84.884   5.4112  100.3354
20           Tornio      FI    75.218  65.8481   24.1466
21          Parrita      CR    83.318   9.5201  -84.3225
24             Bera      BD    89.744  24.0833   89.6167

In [ ]:
#https://maps.googleapis.com/maps/api/place/nearbysearch/output?parameters

In [77]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [80]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [81]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,80.456,-22.9661,-42.0278,Pousada Porto Praia
3,Senanga,ZM,89.204,-16.1167,23.2667,Zango lodge
6,Bay City,US,77.324,43.5945,-83.8889,DoubleTree by Hilton Hotel Bay City - Riverfront
8,Bengkulu,ID,77.432,-3.8004,102.2655,Grage Hotel Bengkulu
14,Mogadishu,SO,76.496,2.0371,45.3438,Hotel Juba
15,Hithadhoo,MV,82.274,-0.6000,73.0833,Scoop Guest House
17,Georgetown,MY,84.884,5.4112,100.3354,Cititel Penang
20,Tornio,FI,75.218,65.8481,24.1466,Park Hotel Tornio
21,Parrita,CR,83.318,9.5201,-84.3225,Beso del Viento
24,Bera,BD,89.744,24.0833,89.6167,Sohel Parvez

In [84]:
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [85]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [86]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [87]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))